.toTheMoon {
    margin: 60px;
}

.othertext {
    color: #844823;
    display: block;
    align-items: center;
}

.othertext h2 {
    font-family: 'Roboto Flex', sans-serif;
    display: block;
    justify-content: left;
    font-size: clamp(1rem, 42vw, 10vh);
    margin-top: 5vh;
}

.othertext h4 {
    margin: 0;
    margin-top: clamp(1rem, 22vw, 6vh);
    font-family: 'Roboto Flex', sans-serif;
    /* font-size: clamp(1rem, 22vw, 6vh); */
    font-size: clamp(1rem, 2vw, 6vh);
    display: block;
    justify-content: left;
}


.card-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.path {
    display: flex;
    float: center;
    margin: 4vw;
    margin-top: 13vh;
    transform: translateX(50px);
    /* flex: 1 1 200px; */
    max-width: 40vw;
    height: auto;
    border-radius: 15px;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.15s ease-out, box-shadow 0.15s ease-out;
    transform-style: preserve-3d;
    cursor: pointer;
}

.path:hover {
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}
