body {
    background-color: rgb(145, 171, 221);
}

.liftoff-panel {
    position: relative;
    display: flex;
    justify-content: center;
    height: 140vh;
}

.liftoff-panel img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.launchpad {
    z-index: 1;
    height: 140vh;
}

.SLS-rocket {
    z-index: 2;
    height: 140vh;
    transition: transform 1s ease-out;
}

.SLS-rocket.fly {
    transform: translateX(-50%) translateY(-500px);
}

.artemis-header {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 7vh;
    font-family: 'Roboto Flex', sans-serif;
    font-variation-settings: "wdth" 10, "wght" 300;
    font-size: clamp(1rem, 75vw, 140vh);
    color: #844823;
}