body {
    background-color: cornflowerblue;
}

.liftoff-panel {
    position: relative;
    width: 400px;
}

.liftoff-panel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: auto;
}

.launchpad {
    /* position: absolute;
	width: 25%;
    top: 0;
    left: 0; */
    z-index: 1;
}


.SLS-rocket {
    /* position: absolute;
    width: 25%;
    top: 0;
    left: 0; */
    z-index: 2;
    opacity: 0.8;
}